$white-color: #fff;
$main-color: #d8b979;
$text-color: #212529;
$price-decoration-color: #bebebe !important;
$blue-btn-color: #799dd9;
$price-color: #8a733f;
$btn-main-bg: $main-color;
$header-bg-scroll: #282828;

$box-shadow: 0px 3px 2px 0px rgba(161, 161, 161, 1);
$box-shadow-cart-product: 0px 0px 10px 2px rgba(204, 204, 204, 1);

$header-height: 77px;
$public-width: 1140px;
$large-tablet: 1024px;
$tablet-width: 720px;
$mobile-width: 540px;
$extra-mobile-width: 380px;
$height-header-product: 50px;

$width-mobile: 576px;
$width-tablet: 768px;
$width-large-tablet: 992px;
$width-desktop: 1200px;
$numbers: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9);
